html, body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    color: white;
    background-color: #192f41;
}

.parallax {
    height: 300px;
    width: 100%;
    background: white url(/images/serverless.jpg) no-repeat center center fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    color: orange;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
}

h4 {
    text-align: center;
    color: orange;
    letter-spacing: 5px;
    font-weight: bold;
}

.websiteName {
    font-size: 30px;
}

.sidebar {
    background-color: #264662;
    position: fixed;
    height: 100%;
    width: 250px;
}

.main {
    margin-left: 250px;
}

nav {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #fa7d66;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    font-weight: bold;
}

nav a:hover {
    color: orange;
}

nav ul {
    margin: 0 30px;
    padding: 0;
    float: right;
}

nav li {
    list-style-type: none;
    padding: 11px 18px;
}

.content {
    padding: 20px 40px 200px;
    max-width: 100%;
    margin: auto;
    font-size: 17px;
    letter-spacing: 0.5px;
}

#button, button {
    background-color: forestgreen;
    box-shadow: inset 0.25em -0.6em 0 -0.40em rgba(0, 0, 0, 0.17);
    border: 0.16em solid rgba(255, 255, 255, 0);
    padding: 12px 12px;
}

#button:hover, button:hover {
    border-color: rgba(255, 255, 255, 1);
}

#button:focus, input[type=submit]:hover, button:focus {
    outline: 0;
}

#button, input[type=submit], button {
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
    transition: all 0.5s;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

input[type=submit] {
    background-color: #4CAF50;
    padding: 12px 20px;
    border: none;
}

input[type=text], input[type=password],input[type=date],input[type=time], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]:hover {
    transition: all 0.5s;
    background-color: #008CBA;
}

label {
    color: #192f41;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 0 auto 30px;
    border-radius: 5px;
    background-color: #EEFCFC;
    padding: 20px;
}

.container h4 {
    color: #192f41;
}

.resultsContainer {
    width: 80%;
    margin: 0 auto 30px;
    border-radius: 5px;
    background-color: #12222f;
    padding: 20px;
}

hr {
    width: 100%;
    background-color: #f9ce77;
    border: 0;
    height: 1px;
}

.navButton hr {
    display: none;
}

.func {
    color: orange;
}

.browse_funcs_filter {
    margin-left: 10%;
    margin-right: 10%;
}

.browse_funcs_filter td {
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
}

.browse_funcs_filter input {
    margin-top: 10px;
    width: 100%;
}

.browse_funcs_filter label {
    color: #fa7d66;
}

.show_func_actions {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}

.main_action {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.code {
    height: 340px;
}

@media screen and (max-width: 1024px) {
    .sidebar {
        width: 200px;
    }

    .content {
        padding: 20px 40px;
    }

    .main {
        margin-left: 200px;
    }

}
